version: "3.9"

services:
  db:
    image: postgres
    container_name: smartnotes-postgres
    restart: unless-stopped
    env_file: .env
    shm_size: 128mb
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
