{% extends "base.html" %}

{% block content %}
<div class="border round p-1">
  <h1 class="my-5">{{note.title}}</h1>
  <p>{{note.text}}</p>
  <p>{{note.likes}} Like(s)</p>
  <a href="{% url 'notes:delete' note.pk %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'notes:update' note.pk %}" class="btn btn-secondary">Edit</a>
  <form method='POST' class="d-inline" action="{% url 'notes:add_like' pk=note.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Like</button>
  </form>
</div>
<a href="{% url 'notes:list' %}" class="btn btn-secondary mt-2">Back</a>
{% endblock %}
